{% if count_text != '0 items' %}
    <div{{ attributes}}>
        <div class="cart-block--summary">
            <a class="cart-block--link__expand" href="{{ url }}">
                <span class="cart-block--summary__icon"><i class="fas fa-shopping-cart"></i></span>
                <span class="cart-block--summary__count">{{ count_text }} in your cart</span>
                | <span class="cart-block--summary__count cart-block--checkout__link"><i class="fas fa-arrow-right"></i> go to checkout</span>
            </a>
        </div>
        {% if content %}
            <div class="cart-block--contents">
                <div class="cart-block--contents__inner">
                    <div class="cart-block--contents__items">
                        {{ content }}
                    </div>
                    <div class="cart-block--contents__links">
                        {{ links }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}